nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      a.navbar-brand.bone-font Lovster
    ul.nav.navbar-nav.navbar-right
      li
        a.bone-font(href="") Cómo funciona
      li
        button.btn.btn-pink.btn-lg(type="button") Quiero jugar, invítame