head
  include ./metas.jade
  //- link(rel='stylesheet', href='stylesheets/normalize.css')
  //- link(rel='stylesheet', href='assets/css/bootstrap.min.css')
  link(rel='stylesheet', href='assets/css/app.css')
  //-script(src='javascripts/vendor/modernizr-2.7.1.min.js')
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55212454-1', 'auto');
      ga('send', 'pageview');
  script.
    (function() {
    var _fbq = window._fbq || (window._fbq = []);
    if (!_fbq.loaded) {
    var fbds = document.createElement('script');
    fbds.async = true;
    fbds.src = '//connect.facebook.net/en_US/fbds.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fbds, s);
    _fbq.loaded = true;
    }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6018060939327', {'value':'0.01','currency':'EUR'}]);
    
  noscript
    img(height="1",width="1",alt="",style="display:none" src="https://www.facebook.com/tr?ev=6018060939327&amp;cd[value]=0.01&amp;cd[currency]=EUR&amp;noscript=1")