nav.navbar.navbar-default.navbar-fixed-top.ui-fade(role="navigation")
  .container
    .navbar-header
      a.navbar-brand.bone-font Lovster
    ul.nav.navbar-nav.navbar-right
      li.hidden-xs
        a.bone-font(href="") Cómo funciona
      li
        button.btn.btn-pink.btn-lg(type="button")
          span.hidden-xs Quiero jugar, invítame
          span.visible-xs-block Quiero jugar
