nav.navbar.navbar-default.navbar-fixed-top.ui-fade(role="navigation")
  .container
    .navbar-header
      a.navbar-brand.bone-font Lovster
    ul.nav.navbar-nav.navbar-right
      li.hidden-xs
        a.bone-font(href="#modalInstructions01",data-toggle="modal",onClick="_gaq.push(['_trackEvent', 'Cómo funciona', 'Cómo funciona abre modal','Top bar']);") Cómo funciona
      li
        a.btn.btn-pink.btn-lg#helpbtn(href="#modalEncuesta",data-toggle="modal", onClick="_gaq.push(['_trackEvent', 'Necesitamos tu ayuda', 'Ayuda abre modal','Top bar']);")
          span.hidden-xs ¡Necesitamos tu ayuda!
          span.visible-xs-block ¡Ayúdanos!