title Lovster, play the game

//- Initial setup
meta(charset='utf-8')
meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
meta(name="apple-mobile-web-app-capable",content="yes")
meta(http-equiv="Content-type",content="text/html;charset=UTF-8")

meta(http-equiv="CACHE-CONTROL",content="Private")
meta(name="ROBOTS",content="ALL")

//- SEO
meta(name="description",content="Lovster es una plataforma de juegos donde el premio es encontrar pareja")
meta(rel="canonical",href="http://www.lovster.co")
meta(name="keywords",content="juegos, pareja, citas")
meta(name="author",content="Lovster")

//- Facebook
meta(property="og:title",content="Lovster: play the game")
meta(property="og:type",content="article")
meta(property="og:image",content="http://www.lovster.co/assets/images/lovster-bckg.jpg")
meta(property="og:description",content="Lovster es una plataforma de juegos donde el premio es encontrar pareja")

//- Twitter
meta(name="twitter:card",content="summary")
meta(name="twitter:title",content="Lovster, play the game")
meta(name="twitter:image",content="http://www.lovster.co/assets/images/lovster-bckg.jpg")
meta(name="twitter:description",content="Lovster es una plataforma de juegos donde el premio es encontrar pareja")

//- FAVICON
link(rel="shortcut icon",type="image/x-icon",href="assets/images/favicon.ico")