.modal {
  .modal-dialog {
    margin-top:68px;
    .modal-content {
      .modal-header {
        background-color:@dark-blue;
        padding-top: 40px;
        padding-bottom: 40px;
        .img {
          width: 90px;
          height: 90px;
          margin: 0 auto;
        }
        button {
          text-shadow: none;
          color: @bone;
          opacity: 1;
          font-size: 50px;
          margin-top: -91px;
          margin-right: -17px;
        }
      }
      .modal-body {
        padding:15px 64px;
        background-color: @bone;
        h3 {
          font-weight: bold;
          font-size: 29px;
          color:@dark-blue;
        }
        p {
          font-size: 20px;
          font-weight: 600;
          margin-top: 16px;
          margin-bottom: 16px;
        }
      }
      .modal-footer {
        border-top-width:0px;
        background-color: #E5E5E5;
      }
    }
  }
  &.instructions {
    &#modalInstructions01,&#modalInstructions02,&#modalInstructions03 {
      .modal-header {
        background-color:white;
        .background-size(51%);
        padding: 65px!important;
      }
    }
    &#modalInstructions02 {
      .modal-header {
        padding-top: 40px;
        padding-bottom: 40px;
        height: 204px;
        background-position: center;
        background-size: 53%;
        background-repeat: no-repeat;
        background-color: #C6564A;
      }
    }
    &#modalInstructions03 {
      .modal-header {
        padding-top: 40px;
        padding-bottom: 40px;
        height: 204px;
        background-position: center;
        background-size: 97%;
        background-repeat: no-repeat;
        background-color: #1F2229;
      }
    }
  }
}