#third-block {
  background-color:@dark-blue;
  padding-top: 40px;
  .row {
    position: relative;
    img {
      bottom:62px;
      position: absolute;
    }
  }
  .img.background-size {
    background-position:top;
    text-align: center;
    padding: 207px 120px 50px;
    input {
      padding: 25px 17px;
      font-size:20px;
    }
    p {
      font-size:22px;
      color:@bone;
      margin-bottom: 38px;
    }
    button {
      padding: 14px;
      font-size:20px;
    }
  }
  h1 {
    color:@pink;
    font-weight: @bolder;
    font-style: italic;
    font-size: 90px;
    margin-bottom:0;
  }
  h5 {
    font-size:27px;
    color:@bone;
    margin-top:0;
  }
  .logo {
    position: absolute;
    right: -18%;
    bottom:-77px;
  }
  .col-sm-3 {
    padding-top: 431px;
    text-align: center;
  }
  #phoneform {
    position: relative;
    z-index: 1;
  }
  #floor {
    height:80px;
    background-color: #2d4758;
    z-index: 0;
    margin-top: -80px;
    position: relative;
    border-bottom: 40px solid #235D74;
  }
}