.modal.fade#modalInvite(tabindex="-1",role="dialog", aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header.background-size(style="background-image:url('assets/images/lovster-bckg.jpg');")
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Cerrar
      .modal-body
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1
            p ¿Quieres ser el primero en probar Lovster y recibir un obsequio exclusivo en el juego? Déjanos tu correo y te enviaremos una invitación.
            form(role='form',action='scripts/mcapi_listSubscribe.php', method='get')
              input(type='hidden', name='ajax', value='true')
              .form-group
                input.form-control#MERGE1(type="text",name='MERGE1',placeholder="Nombre y apellidos")
              .form-group
                input#MERGE2.form-control(placeholder="Tu email",type='email', autocapitalize='off', autocorrect='off', name='MERGE2', size='25', value='')
              .hidden-from-view.hidden
                input(type='text', name='honeypot', tabindex='-1', value='')
              .submit_container.clear
                button.btn.pull-right.btn-pink(type='submit', name='submit',onClick="ga('send', 'event',  'Quiero jugar', 'Quiero jugar envía form','Inside modal');") Quiero jugar
                .clearfix
              .row
                button.btn.not-btn.pull-right.btn-default(data-dismiss='modal') De momento no, cancelar