.modal.fade.instructions#modalInstructions01(tabindex="-1",role="dialog", aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header(style='background-image:url("assets/images/faces.jpg");')
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Cerrar
      .modal-body
        h3 Primer paso
        p Rellena tu perfil y personaliza tu avatar entre multitud de opciones. Tu perfil estará oculto, mostrándose a medida que tus pretendientes superen niveles en el juego.
      .modal-footer
        button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal', data-toggle='modal',data-target='#modalInstructions02',onClick="ga('send', 'event',  'Cómo funciona', 'Paso 1 a 2','Pasos modal');") Siguiente

.modal.fade.instructions#modalInstructions02(tabindex="-1",role="dialog", aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header(style='background-image:url("assets/images/games.jpg");')
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Cerrar
      .modal-body
        h3 Diviértete conociendo gente
        p Elige un juego, hay muchos entre los que escoger. Juega para acumular puntos y desbloquear pretendientes, o para descubrir algo de alguien.
      .modal-footer
        button.btn.btn-default.btn-lg(type='button', data-dismiss='modal', data-toggle='modal',data-target='#modalInstructions01') Atrás
        button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal', data-toggle='modal',data-target='#modalInstructions03',onClick="ga('send', 'event',  'Cómo funciona', 'Paso 2 a 3','Pasos modal');") Siguiente

.modal.fade.instructions#modalInstructions03(tabindex="-1",role="dialog", aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header(style='background-image:url("assets/images/fotos.jpg");')
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Cerrar
      .modal-body
        h3 El flechazo
        p Si te atrae alguien en especial gasta puntos para averiguar dónde vive, qué aspecto tiene, etc. O si lo prefieres, chatea con él o enviale un guiño. También puedes gastar puntos para adquirir mejoras especiales de tu avatar.
      .modal-footer
        button.btn.btn-default.btn-lg(type='button', data-dismiss='modal', data-toggle='modal',data-target='#modalInstructions02') Atrás
        button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') Entendido, cierra esto
        button.btn.btn-pink.btn-lg(type='button', data-dismiss='modal',data-toggle='modal',data-target='#modalInvite',onClick="ga('send', 'event',  'Quiero jugar', 'Paso 3 cómo funciona','Modal');") Quiero jugar, invítame
img.hidden(src="assets/images/faces.jpg")
img.hidden(src="assets/images/games.jpg")
img.hidden(src="assets/images/fotos.jpg")