.modal.fade#modalSuccess(tabindex="-1",role="dialog", aria-labelledby="myModalLabel",aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header.background-size(style="background-image:url('assets/images/lovster-bckg.jpg');")
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') ×
          span.sr-only Cerrar
      .modal-body
        h3 ¡Gracias!
        p Te hemos incluido en la lista de espera de usuarios de Lovster. En cuanto nuestra plataforma esté disponible o tengamos novedades te enviaremos un email para avisarte.
      .modal-footer
        button.btn.btn-primary.btn-lg(type='button', data-dismiss='modal') ¡Entendido!