include ./includes/head.jade
include ./includes/header.jade

include ./includes/blocks/modals/mail-success.jade
include ./includes/blocks/modals/mail-fail.jade
include ./includes/blocks/modals/mail-instructions.jade

include ./includes/blocks/first-block.jade
include ./includes/blocks/second-block.jade
include ./includes/blocks/third-block.jade

include ./includes/foot.jade