main#first-block
  .sky
    .stars
    .twinkling
    .clouds
  #shadows
    #shadow-1.shadow
    #shadow-2.shadow
    #shadow-3.shadow
  #balloons.globus.hidden-xs
    .col-xs-4
      .img.img-circle(data-balloon="1" style="background-image:url('assets/images/sprites/01.png');")
      .img.img-circle(data-balloon="2" style="background-image:url('assets/images/sprites/02.png');")
      .img.img-circle(data-balloon="3" style="background-image:url('assets/images/sprites/03.png');")
      .img.img-circle(data-balloon="4" style="background-image:url('assets/images/sprites/04.png');")
      .img.img-circle(data-balloon="5" style="background-image:url('assets/images/sprites/05.png');")
    .col-xs-4
    .col-xs-4
      .img.img-circle(data-balloon="6" style="background-image:url('assets/images/sprites/06.png');")
      .img.img-circle(data-balloon="7" style="background-image:url('assets/images/sprites/07.png');")
      .img.img-circle(data-balloon="8" style="background-image:url('assets/images/sprites/08.png');")
      .img.img-circle(data-balloon="9" style="background-image:url('assets/images/sprites/09.png');")
      .img.img-circle(data-balloon="10" style="background-image:url('assets/images/sprites/10.png');")


  .col-xs-12.col-md-offset-1.col-md-10
    .row.opacidade#call
      .contents
        h3#title Ligar es un juego
        h1#title-2.scale-fade-animation Diviértete
        h4.ui-fade Lovster es una plataforma de juegos
          br
          | donde el premio es encontrar pareja
        .buttons.ui-fade
          button.btn.btn-bordered.uppercase(type="button",data-toggle="modal",data-target="#modalInstructions01", onClick="_gaq.push(['_trackEvent', 'Cómo funciona', 'Cómo funciona abre modal','Top bar']);") Cómo funciona
          a.btn.btn-pink.uppercase(href="#modalInvite",data-toggle="modal", onClick="_gaq.push(['_trackEvent', 'Quiero jugar', 'Quiero jugar abre modal','Top bar']);") Quiero jugar
      .col-xs-6.col-xs-offset-3
        img#hearth(src="assets/images/hearth.png",alt="")
  include ./notifications.jade
  .clearfix