main#first-block
  .sky
    .stars
    .twinkling
    .clouds
  #shadows
    #shadow-1.shadow
    #shadow-2.shadow
    #shadow-3.shadow

  .col-xs-10.col-xs-offset-1
    .row#call
      .col-xs-6.col-xs-offset-3
        .contents
          h3 Ligar es un juego
          h1 Diviértete
          h4 Lovster es una plataforma de juegos
            br
            | donde el premio es encontrar pareja
          button.btn.btn-bordered.uppercase(type="button") Cómo funciona
          button.btn.btn-pink.uppercase(type="button") Quiero jugar
        img(src="assets/images/hearth.png",alt="")
    .row#notifications
      .col-xs-3
        .img.img-circle(style="background-image:url('assets/images/avatar-girl.jpg');")
      .col-xs-6
        .popover.fade.right.in.show(role="tooltip")
          .arrow
          .popover-content
            .row
              .col-xs-9
                p 
                  span Anna 
                  | está jugando a 
                  span STAR MATCH SAGA
              .col-xs-3
                .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
      .col-xs-3
        .img.img-circle(style="background-image:url('assets/images/avatar-boy.jpg');")
  .clearfix