.row#notifications.ui-fade
        .carousel.slide.carousel-fade(data-ride="carousel",onClick="ga('send', 'event',  'Otros elementos', 'Carousel','Section 01');")
          .carousel-inner
            .item.active
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/laura.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Laura 
                        | está jugando a 
                        span Star Match Saga
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/laura.jpg');")
                      p 
                        span Carlos 
                        | ha conseguido 1000 puntos: descubre la foto de 
                        span Laura
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/carlos.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/laura.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Laura 
                        | ha desbloqueado un nuevo pretendiente 
                        span Carlos
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/carlos.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/laura.jpg');")
                      p 
                        span Carlos 
                        | invita a chatear con él a 
                        span Laura
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/carlos.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/laura.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Laura 
                        | acepta chatear con 
                        span Carlos
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/carlos.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/screen-03.jpg');")
                      p 
                        span Ana 
                        | ha pasado de nivel en 
                        span Colour Palette.
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/miguel.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Miguel 
                        | ha completado un puzzle y ahora sabe qué música le gusta a 
                        span Ana
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/screen-01.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/miguel.jpg');")
                      p 
                        span Ana 
                        | ha desbloqueado un nuevo pretendiente: 
                        span Miguel
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/miguel.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Miguel 
                        | le envía un guiño a 
                        span Ana
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
                      p 
                        span Ana 
                        | gasta 500 puntos para saber en qué trabaja 
                        span Miguel
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/miguel.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Miguel 
                        | reta a  
                        span Ana 
                        | a jugar a 
                        span Question Challenge
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/iphone-game.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/miguel.jpg');")
                      p 
                        span Ana 
                        | acepta el reto de  
                        span Miguel
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/miguel.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Miguel 
                        | gana el reto y descubre la foto de 
                        span Ana 
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/iphone-game.jpg');")
                      p 
                        span Ana 
                        | invita a chatear con ella a 
                        span Miguel
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/miguel.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Miguel 
                        | acepta la cita de 
                        span Ana 
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/ana.jpg');")
          

