.row#notifications.ui-fade
        .carousel.slide.carousel-fade(data-ride="carousel")
          .carousel-inner
            .item.active
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/avatar-girl2.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Laura 
                        | está jugando a 
                        span STAR MATCH SAGA
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
                      p 
                        span Carlos 
                        | ha conseguido 1000 puntos: descubre la foto de 
                        span Laura
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/avatar-boy2.jpg');")
            .item.active
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/avatar-girl2.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Laura 
                        | ha desbloqueado un nuevo pretendiente 
                        span CARLOS
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
                      p 
                        span Carlos 
                        | Carlos invita a Laura a chatear con él.
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/avatar-boy2.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/avatar-girl2.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Laura acepta chatear con Carlos.
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
                      p 
                        span Ana ha pasado de nivel en Colour Palette.
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/avatar-boy2.jpg');")
            .item
              .col-xs-2.col-sm-3.avatar-left
                .img.img-circle(style="background-image:url('assets/images/avatar-girl2.jpg');")
              .col-xs-10.col-sm-6
                .popover.fade.right.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      p 
                        span Miguel ha completado un puzzle y ahora sabe qué música le gusta a Ana
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
            .item
              .col-xs-0.col-sm-3.avatar-left
              .col-xs-10.col-sm-6
                .popover.fade.left.in.show(role="tooltip")
                  .arrow
                  .popover-content
                    .row
                      .table-cell
                        .img.img-circle(style="background-image:url('assets/images/star-screen.jpg');")
                      p 
                        span Ana ha desbloqueado un nuevo pretendiente: Miguel.
              .col-xs-2.col-sm-3.avatar-right
                .img.img-circle(style="background-image:url('assets/images/avatar-boy2.jpg');")
          

