#second-block
  .container
    .row
      .col-sm-4
        .img.img-circle(style="background-image:url('assets/images/screen-01.jpg');")
        p Elige un juego y gana puntos para desbloquear pretendientes.
      .col-sm-4
        .img.img-circle(style="background-image:url('assets/images/screen-02.jpg');")
        p Los juegos de pareja te permitirán descubrir afinidades y seducir a tus conquistas.
      .col-sm-4
        .img.img-circle(style="background-image:url('assets/images/screen-03.jpg');")
        p Sube de nivel, acumula logros y desbloquea recompensas que tus pretendientes valorarán.
      .col-sm-12
        p.small ¿Tienes más dudas? Consulta nuestra sección de 
          span preguntas frecuentes.